version: '3'
services:
  nginx:
    image: nginx:latest
    container_name: nginx_reverse_proxy
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
      - 443:443
  jenkins:
    image: jenkins/jenkins
    container_name: jenkins_ci-cd
    restart: always
    volumes:
      - /opt/jenkins/data:/var/jenkins_home
    expose:
      - "8080"
      - "50000"